@{
    ViewBag.Title = "Sobre o Sistema";
}

<div class="container mt-5">
    <h1 class="text-center">Sistema de Cadastro de Produtos</h1>

    <hr class="my-4">

    <p>
        Este sistema foi desenvolvido para tornar o cadastro de produtos em lojas de suplementos mais eficiente, 
        priorizando a facilidade de uso e incluindo uma variedade de recursos para facilitar a identificação e 
        localização dos produtos. O objetivo central é oferecer uma plataforma intuitiva proporcionando uma experiência suave 
        tanto no processo de cadastro quanto na busca, para garantir praticidade máxima aos usuários.
    </p>

    <div class="row mt-5">
        <div class="col-md-6">
            <section class="rounded p-3 mb-3" style="background-color: #d4edda;">
                <h3>1. Arquitetura MVC</h3>
                <p>O nosso sistema é estruturado sob a arquitetura MVC (Model-View-Controller), uma abordagem que divide as responsabilidades em três componentes principais.</p>
            </section>

            <section class="rounded p-3 mb-3" style="background-color: #d4edda;">
                <h3>2. Cadastro de Produtos</h3>
                <p>O módulo de cadastro proporciona a inclusão eficiente de novos produtos de suplementos.</p>
            </section>
        </div>

        <div class="col-md-6">
            <section class="rounded p-3 mb-3" style="background-color: #bee5eb;">
                <h3>3. Listagem de Produtos</h3>
                <p>A funcionalidade de leitura permite a visualização organizada de todos os produtos cadastrados.</p>
            </section>

            <section class="rounded p-3 mb-3" style="background-color: #bee5eb;">
                <h3>4. Atualização de Produtos</h3>
                <p>O CRUD inclui a capacidade de atualizar informações de produtos existentes.</p>
            </section>

            <section class="rounded p-3 mb-3" style="background-color: #bee5eb;">
                <h3>5. Exclusão de Produtos</h3>
                <p>A opção de exclusão assegura a remoção segura de produtos do sistema.</p>
            </section>
        </div>
    </div>
</div>